[Unit]
Description=Ping-Based Network Monitorer
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/network_monitor.py --config /etc/default/network-monitor.yaml

[Install]
WantedBy=multi-user.target
